@charset "utf-8";

/*-------------------------------------------------------------------
    파일정의 : 유틸리티
-------------------------------------------------------------------*/

/* float */
.cf::after{ display: block; clear: both; content: ""; }

.fl-none{ float: none; }

.fl-l{ float: left; }
.fl-r{ float: right; }

/* Display */

/* Margin */
.m0{ margin: 0px !important; }

.mt0{ margin-top: 0px !important; }
.mt4{ margin-top: 4px !important; }
.mt5{ margin-top: 5px !important; }
.mt10{ margin-top: 10px !important; }
.mt12{ margin-top: 12px !important; }
.mt15{ margin-top: 15px !important; }
.mt20{ margin-top: 20px !important; }
.mt25{ margin-top: 25px !important; }
.mt30{ margin-top: 30px !important; }
.mt35{ margin-top: 35px !important; }
.mt40{ margin-top: 40px !important; }
.mt45{ margin-top: 45px !important; }
.mt50{ margin-top: 50px !important; }
.mt55{ margin-top: 55px !important; }
.mt60{ margin-top: 60px !important; }
.mt65{ margin-top: 65px !important; }
.mt70{ margin-top: 70px !important; }
.mt75{ margin-top: 75px !important; }
.mt80{ margin-top: 80px !important; }
.mt85{ margin-top: 85px !important; }
.mt90{ margin-top: 90px !important; }
.mt95{ margin-top: 95px !important; }
.mt100{ margin-top: 100px !important; }

.mb0{ margin-bottom: 0px !important; }
.mb4{ margin-bottom: 4px !important; }
.mb5{ margin-bottom: 5px !important; }
.mb10{ margin-bottom: 10px !important; }
.mb12{ margin-bottom: 12px !important; }
.mb15{ margin-bottom: 15px !important; }
.mb20{ margin-bottom: 20px !important; }
.mb25{ margin-bottom: 25px !important; }
.mb30{ margin-bottom: 30px !important; }
.mb35{ margin-bottom: 35px !important; }
.mb40{ margin-bottom: 40px !important; }
.mb45{ margin-bottom: 45px !important; }
.mb50{ margin-bottom: 50px !important; }
.mb55{ margin-bottom: 55px !important; }
.mb60{ margin-bottom: 60px !important; }
.mb65{ margin-bottom: 65px !important; }
.mb70{ margin-bottom: 70px !important; }
.mb75{ margin-bottom: 75px !important; }
.mb80{ margin-bottom: 80px !important; }
.mb85{ margin-bottom: 85px !important; }
.mb90{ margin-bottom: 90px !important; }
.mb95{ margin-bottom: 95px !important; }
.mb100{ margin-bottom: 100px !important; }

/* Padding */
.p0{ padding: 0px !important; }

.pt0{ padding-top: 0px !important; }
.pt4{ padding-top: 4px !important; }
.pt5{ padding-top: 5px !important; }
.pt10{ padding-top: 10px !important; }
.pt12{ padding-top: 12px !important; }
.pt15{ padding-top: 15px !important; }
.pt20{ padding-top: 20px !important; }
.pt25{ padding-top: 25px !important; }
.pt30{ padding-top: 30px !important; }
.pt35{ padding-top: 35px !important; }
.pt40{ padding-top: 40px !important; }
.pt45{ padding-top: 45px !important; }
.pt50{ padding-top: 50px !important; }
.pt55{ padding-top: 55px !important; }
.pt60{ padding-top: 60px !important; }
.pt65{ padding-top: 65px !important; }
.pt70{ padding-top: 70px !important; }
.pt75{ padding-top: 75px !important; }
.pt80{ padding-top: 80px !important; }
.pt85{ padding-top: 85px !important; }
.pt90{ padding-top: 90px !important; }
.pt95{ padding-top: 95px !important; }
.pt100{ padding-top: 100px !important; }

.pb0{ padding-bottom: 0px !important; }
.pb4{ padding-bottom: 4px !important; }
.pb5{ padding-bottom: 5px !important; }
.pb10{ padding-bottom: 10px !important; }
.pb12{ padding-bottom: 12px !important; }
.pb15{ padding-bottom: 15px !important; }
.pb20{ padding-bottom: 20px !important; }
.pb25{ padding-bottom: 25px !important; }
.pb30{ padding-bottom: 30px !important; }
.pb35{ padding-bottom: 35px !important; }
.pb40{ padding-bottom: 40px !important; }
.pb45{ padding-bottom: 45px !important; }
.pb50{ padding-bottom: 50px !important; }
.pb55{ padding-bottom: 55px !important; }
.pb60{ padding-bottom: 60px !important; }
.pb65{ padding-bottom: 65px !important; }
.pb70{ padding-bottom: 70px !important; }
.pb75{ padding-bottom: 75px !important; }
.pb80{ padding-bottom: 80px !important; }
.pb85{ padding-bottom: 85px !important; }
.pb90{ padding-bottom: 90px !important; }
.pb95{ padding-bottom: 95px !important; }
.pb100{ padding-bottom: 100px !important; }

/* Border */

/* Align*/
.ta-l{ text-align: left !important; }
.ta-c{ text-align: center !important; }
.ta-r{ text-align: right !important; }

/* 말줄임 */

/* Flexible */
.d-flex {display: flex !important;}

.flex-direction-column {flex-direction: column !important;}

.flex-wrap-wrap {flex-wrap: wrap !important;}

.justify-content-start {justify-content: flex-start !important;}
.justify-content-center {justify-content: center !important;}
.justify-content-end {justify-content: flex-end !important;}
.justify-content-between {justify-content: space-between !important;}

.align-items-start {align-items: flex-start !important;}
.align-items-end {align-items: flex-end !important;}
.align-items-center {align-items: center !important;}
.align-items-stretch {align-items: stretch !important;}

.flex-none {flex: none !important;}

.gap-0 {gap: 0 !important;}
.gap-1 {gap: 5px !important;}
.gap-2 {gap: 10px !important;}
.gap-3 {gap: 15px !important;}
.gap-4 {gap: 20px !important;}
.gap-5 {gap: 25px !important;}

.flex-1 {flex: 1 0 !important; min-width: 0 !important; min-height: 0 !important;}

/*-------------------------------------------------------------------
    @Only (Display 스타일은 다양하므로 숨길경우만 사용)
-------------------------------------------------------------------*/
/* Device */

 
/* Media */
@media screen and (max-width: 1440px) {
    .hide-mo {display:none !important;}
}
@media print { .hide-print {display:none !important;} }

/*-------------------------------------------------------------------
    @Color Set
    - 배경: bg-, 텍스트: txt-, 라인: line-
    - 밝은: -light, 어두운: -dark, 더 밝은/어두운: ~er
-------------------------------------------------------------------*/
/* 기본 */
.bg-none {background-color:transparent !important;}
.txt-none {color:transparent !important;}
.line-none {border-color:transparent !important;}
 
/* 배경 */

/* 텍스트 */
.txt-red {color: #FA5252 !important;}
.txt-green {color: #82C91E !important;}
.txt-mint {color: #12B886 !important;}
.txt-yellow {color: #FAB005 !important;}
.txt-blue {color: #4C6EF5 !important;}

/* 라인 */